<!DOCTYPE html>
<html lang="en">
<head>

  <title>Data Science Final Project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/styles.css') }}">
  
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  
  
</head>
<body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="https://flask-blam92.c9users.io/">Data Science Project</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="https://flask-blam92.c9users.io/">Home</a></li>
            <li><a href="https://flask-blam92.c9users.io/topics">Topics</a></li>
            <li><a href="#">Blog</a></li>
        </ul>
        </div>
    </nav>
    <div class="container-fluid text-center site">
      <h3>Trabajo Final Data Science</h3>
      <img src="{{ url_for('static', filename='images/logo.jpg') }}" class= "img-circle size" alt="Movie">
    </div>
    <div class="container-fluid bg-2 text-center site">
    <h1>Search For Movie Recommendations</h3>
    
    <form class="form-inline" method="POST" action="{{ url_for('loading') }}">
      <div class="form-group">
        <input id="autocomplete" type="movie" class="form-control typeahead" name="movie" placeholder= "Enter Movie Title">
        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span>    Search</button>
      </div>
    </form>
  </div>
  <div class="container-fluid text-center team">
  <h3>THE TEAM</h3>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <p><strong>PAOLO</strong></p><br>
      <img src="{{ url_for('static', filename='images/paolo.jpeg') }}" class="img-circle person" alt="Paolo">
    </div>
    <div class="col-sm-4">
      <p><strong>MARTIN</strong></p><br>
      <img src="{{ url_for('static', filename='images/martin_rios.jpeg') }}" class="img-circle person" alt="Martin">
    </div>
    <div class="col-sm-4">
      <p><strong>SANTIAGO</strong></p><br>
      <img src="{{ url_for('static', filename='images/santi.jpeg') }}" class="img-circle person" alt="Santiago">
    </div>
  </div>
</div>
  <script src="{{ url_for('static', filename='js/autocomplete.js') }}"></script>

</body>
</html>